/* Geral */
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 16em;
    background-color: #000000;
    color: white;
    position: relative;
}

.logo {
    width: 3rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Estilo para o botão hambúrguer */
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

.hamburger .bar {
    display: block;
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
}

.close {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    align-self: flex-end;
    margin: 10px 20px 0 0;
}


header nav a:not(:first-child) {
    position: relative;
}

header nav a:not(:first-child)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    width: 1px;
    background-color: #FFF;
}

header nav a {
    text-decoration: none;
    transition: border-bottom 1s ease;
}

header nav a li {
    transition: color 1s ease;
    color: white;
    text-align: center;
    padding: 5px 15px;
    list-style: none;
    font-size: 1.2em;
}

header nav a li:hover {
    color: #ff4d00d5;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: flex;
        padding: 10px 10px;
        align-items: flex-start;
    }
    nav ul a li {
        font-size: 1.2em;
        text-align: left;
    }
    header nav a:not(:first-child)::before {
        display: none;
    }
    .close {
        display: flex;
        justify-content: right;
    }
    .close span {
        font-size: 1.2em;
        padding: 0 12px;
        background-color: #ff4d00;
        border-radius: 50px;
    }
    .hamburger {
        display: flex;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000000;
        width: 80%;
        height: 100vh;
        transform: translateX(-200%);
        transition: transform 0.3s ease-in-out;
    }

    .nav.open {
        transform: translateY(0);
    }

    nav ul li {
        margin: 10px;
    }
}
  
/* Telas médias (tablets e dispositivos médios) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 0.8em 3%;
    }

    header img {
        width: 90px;
        height: 90px;
    }

    header nav ul {
        gap: 0.8em;
    }

    header nav a li {
        font-size: 20px;
        padding: 5px 12px;
    }
}

/* Telas grandes (desktops e laptops) */
@media screen and (max-width: 1524px) {
    header {
        padding: 1em 5%;
    }
}